// =============================================================================
// - Appbar elements
// =============================================================================
.appbar {
	@include size(100%, auto);
	padding: 6px 16px;

	background: $white;
	overflow: hidden;
	// position
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
}