.vacation-package {
    
    article {
        @include size(100%, auto);
        padding: 16px;

        @media #{$breakpoint-laptop-small} {
            max-width: 1280px;
            margin: 0 auto;
            padding: 16px 0;
        }

        header {
            @include size(100%, auto);
            padding: 16px 0;
            text-align: center;

            @media #{$breakpoint-laptop-small} {
                padding-bottom: 50px;
            }

            p {
                font-family: $montserratRegular;
                @include font-size(16px);
                @include line-height(18px);
                color: $darkGray;
            }
        }
    }

    .container {
        @include size(100%, auto);
        padding-bottom: 40px;

        @media #{$breakpoint-laptop-small} {
            padding-bottom: 50px;
        }

        &.booking {
            border-bottom: 1px solid $lightBlue;

            p {
                margin-bottom: 15px;
            }
        }
    }

    .icon {
        @include size(43px, 43px);
        margin: auto;
        margin-left: 0;
        margin-right: 30px;
        display: block;
    }

    .flex-container {
        @include size(100%, auto);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        &-item {
            @include size(100%, auto);
            flex-basis: 100%;
            padding-bottom: 30px;

            @media #{$breakpoint-tablet-land} {
                flex-basis: 33%;
                padding: 0 10px;
            }

            li {
                @include size(100%, auto);
                margin-bottom: 15px;
                // flex
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
            }

            span {
                font-family: $montserratRegular;
                @include font-size(14px);
                @include line-height(22px);
                margin: auto;
                margin-left: 0;  
            }
        }
    }

    form {
        &.unwrap {
            flex-wrap: nowrap;
        }

        @media #{$breakpoint-tablet-land} {
            max-width: 820px;
            margin: 0 auto;
            padding: 0;
            flex-wrap: wrap;
        }

        .row {
            flex-basis: 100%;

            @media #{$breakpoint-tablet-land} {
                // flex
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;

                .date_control {
                    width: 300px;
                }
            }
        }

        p {
            text-align: left;
        }

        #submit_package {
            max-width: 300px;
            margin: 0 auto;
            display: block;
        }
    }

    .booking_gallery {
        @include size(100%, auto);
        overflow: hidden;

        @media #{$breakpoint-tablet-land} {
            margin-top: 30px;
        }

        img {
            @include size(100%, auto);
            display: block;
        }

        .slick-arrow {
            &.slick-prev {
                left: 10px;
            }
            &.slick-next {
                right: 10px;
            }
        } 
    }

    // texts
    h3 {
        font-family: $montserratBold;
        @include font-size(24px);
        @include line-height(24px);
        text-transform: uppercase;
        text-align: center;
        color: $darkGray;
        margin-bottom: 20px;
    }

    h4 {
        font-family: $montserratBold;
        @include font-size(16px);
        @include line-height(24px);
        text-transform: uppercase;
        color: $darkGray;
        margin-bottom: 20px;
    }

    h5 {
        font-family: $montserratBold;
        @include font-size(20px);
        @include line-height(24px);
        text-transform: uppercase;
        text-align: center;
        color: $lightBlue;
        margin-bottom: 20px;
    }

    p {
        font-family: $montserratRegular;
        @include font-size(14px);
        @include line-height(26px);
        text-align: center;
        color: $darkGray;

        em {
            font-family: $montserratBold;
        }
    }

    // FOOTER
    footer {
        @include size(100%, auto);
        overflow: hidden;
        padding: 16px;
        // flex
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;

        @media #{$breakpoint-laptop-small} {
            max-width: 1280px;
            margin: 0 auto;
        }

        .flex-item {
            flex-basis: 100%;
            padding-bottom: 15px;

            @media #{$breakpoint-tablet-port} {
                flex-basis: 33%;
            }

            &:first-child {
                @media #{$breakpoint-tablet-land} {
                    padding-right: 30px;
                }

                p {
                    text-align: left;
                    margin-bottom: 25px;
                }
            }

            &:last-child {
                text-align: center;

                @media #{$breakpoint-tablet-land} {
                    flex-basis: 22%;
                }

                .ic {
                    display: block;
                    margin: 0 auto 24px;
                }

                a {
                    font-family: $montserratRegular;
                    @include font-size(14px);
                    @include line-height(18px);
                    color: $darkGray;
                    text-decoration: none;
                    display: block;
                }

                p {
                     margin-top: 24px;
                }
            }

            p {
                @include line-height(20px);
            }
        }

        .social {
            max-width: 180px;
        }

        .site-links {
            li {
                font-family: $montserratSemiBold;
                @include font-size(14px);
                @include line-height(30px);

                a {
                    text-decoration: none;
                    color: $darkGray;
                }
            }
        }
    
    }

}