// =============================================================================
// -- Buttons
// =============================================================================
.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  color: $white;
  @include border-radius(0px);
  border: 1px solid transparent;
  background: transparent;
  @include size(auto, 50px);
  cursor: pointer;
  // text
  text-decoration: none;
  @include font-size(19px);
  @include line-height(46px);
  vertical-align: middle;
  white-space: nowrap;
  padding: 0 20px;
  font-family: $oswald;

  // Spotify login
  &_login {
    border: 1px solid $black;
    background-color: $black;
    padding: 0 25px 0 15px;
    @include size(auto, 60px);
    //
    font-weight: $medium;
    @include font-size(22px);
    @include line-height(60px);

    .ic {
      margin-right: 8px;
      margin-top: 16px;
      float: left;
    }

    &:hover {
      background-color: $yellow;
      border: 1px solid $yellow;
    }
  }

  //
  &_primary {
    @include size(auto, 50px);
    min-width: 180px;
    border: 2px solid $lightGrey2;
    background-color: $lightGrey2;
    @include font-size(17px);
    padding: 0 15px;
    font-family: $oswald;

    &:hover, &.active {
      border-color: $red;
      background-color: $red;
    }

    &.small {
      @include size(auto, 38px);
      @include line-height(36px);
      min-width: 165px;
    }
  }

  // &_primary_solid {
  //   @include size(180px, 50px);
  //   border: 2px solid $red;
  //   background-color: $red;
  //   @include font-size(13px);
  //   color: $black;
  //   @include transition(2ms);

  //   // &:hover {
  //   //   background-color: $black;
  //   //   color: $white;
  //   // }
  // }

  &_secondary {
    @include size(auto, 50px);
    min-width: 180px;
    border: 2px solid $black;
    background-color: $black;
    @include font-size(17px);
    color: $white;

    // &:hover {
    //   background-color: $black;
    //   color: $white;
    // }
    &.small {
      @include size(auto, 38px);
      @include line-height(36px);
      min-width: 165px;
    }
  }

  &_remove {
    @include size(23px, 23px);
    border: 1px solid transparent;
    padding: 0;

    @include font-size(14px);
    @include line-height(23px);
    color: $black;

    &:hover {
      color: $red;
    }
  }

  &_share {
    min-width: 90px;

    .ic {
      vertical-align: middle;
    }
  }

  &_share_facebook {
    background-color: $facebook;
    border: 1px solid $facebook;
  }

  &_share_twitter {
    background-color: $twitter;
    border: 1px solid $twitter;
  }

  &_share_whatsapp {
    background-color: $whatsapp;
    border: 1px solid $whatsapp;
  }

  &_play_prev, &_pause_prev {
    padding: 0 3px;
  }
}

// =============================================================================
// -- Hamburguer Button
// =============================================================================
.btn_lines {
  background: transparent;
  border: none;
  height: 26px;
  padding: 0;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: $button-size/7;
  /* */
  &:hover {
    opacity: 1;
  }
  &:active {
    transition: 0;
  }
  &.close {
    -webkit-transform: scale3d(.8,.8,.8);
        transform: scale3d(.8,.8,.8);
  }

  //three-lines to x
  &.x.close {
    .lines {
      background: transparent;
      &:before, &:after{
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        top:0;
        width: $button-size;
      }
      &:before{
        -webkit-transform: rotate3d(0,0,1,45deg);
                transform: rotate3d(0,0,1,45deg);
      }
      &:after{
        -webkit-transform: rotate3d(0,0,1,-45deg);
                transform: rotate3d(0,0,1,-45deg);
      }
    }
  }
}

//common to all three-liners
.lines {
  @include line;
  position: relative;

  &:before, &:after {
   @include line;
    position: absolute;
    left:0;
    content: '';
    -webkit-transform-origin: $button-size/14 center;
            transform-origin: $button-size/14 center;
  }
  &:before {
    top: $button-size/4;
  }
  &:after {
    top: -$button-size/4;
  }
}