// =============================================================================
// -- Buttons
// =============================================================================
.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  color: $white;
  @include border-radius(0px);
  border: 1px solid transparent;
  background: transparent;
  @include size(auto, 50px);
  cursor: pointer;
  // text
  text-decoration: none;
  @include font-size(19px);
  @include line-height(46px);
  vertical-align: middle;
  white-space: nowrap;
  padding: 0 20px;

  //
  &_primary {
    @include size(100%, 44px);
    background-color: $lightBlue;
    border: 1px solid $lightBlue;
    // texts
    font-family: $montserratBold;
    @include font-size(24px);
    @include line-height(44px);
  }

}
