// =============================================================================
// - RoomingContainer
// =============================================================================
.meals {
	@include size(100%, auto);
	padding: 8px 0;
	color: $darkGray;

	h1 {
		font-family: $montserratBold;
		@include font-size(18px);
		@include line-height(24px);
		text-align: center;
		margin-bottom: 30px;
	}

	h3 {
		font-family: $montserratBold;
		@include font-size(18px);
		@include line-height(24px);
		margin-bottom: 12px;
	}

	p {
		font-family: $montserratRegular;
		@include font-size(18px);
		@include line-height(24px);
		text-align: center;
		margin-bottom: 30px;
	}

	#btn_tips_meals {
		margin-bottom: 25px;
	}

	// =============================================================================
	// - Responsive
	// =============================================================================
	@media #{$breakpoint-smartphone-big} {
		padding: 16px;
	}

	@media #{$breakpoint-tablet-port} {

		&_container {
			@include size(100%, auto);
			max-width: $secure-area;
			margin: 0 auto;
		}

		h1 {
			@include font-size(26px);
			@include line-height(48px);
		}

		p {
			margin-bottom: 35px;

			&.long-text {
				@include font-size(14px);
				@include line-height(20px);
				margin-bottom: 45px;
			}
		}
	}

	@media #{$breakpoint-laptop-small} {
		&_container {
			padding: 0 65px;
		}
	}
}

// =============================================================================
// - ROOM LIST
// =============================================================================
.meal_list {
	@include size(100%, auto);
	border-bottom: 1px solid $lightGray2;
	overflow: hidden;
	padding-bottom: 20px;
}

.meal_list_item {
	@include size(100%, auto);
	overflow: hidden;
	margin-bottom: 30px;
	position: relative;

	header {
		text-align: center;
		overflow: hidden;
		padding: 20px 0;

		h2 {
			font-family: $montserratBold;
			@include font-size(18px);
			@include line-height(24px);
		}

		p {
			font-family: $montserratBold;
			@include font-size(18px);
			@include line-height(24px);
			margin-bottom: 0;
		}

		hr {
			@include size(100%, auto);
			border: 0;
			border-top: 1px solid $lightBlue;
			margin: 20px 0px;
		}
	}

	.btn {
		margin-bottom: 16px;
	}
}

.amount_information {
	@include size(100%, auto);
	overflow: hidden;
	text-align: center;

	p {
		font-family: $montserratBold;
	    @include font-size(20px);
	    @include line-height(44px);
	    color: $lightBlue2;
	    margin-bottom: 0;
	}
}

.services_icon {
	@include size(75px, 75px);
	display: block;
	margin: 0 auto 30px;
}


// =============================================================================
// - Modals
// =============================================================================
.modal {
	@include size(100%, auto);
	background-color: $white;
	border: 1px solid $lightGray2;
	padding: 16px;
	overflow: hidden;
	// position
	position: absolute;
	top: 160px;
	right: 0;
	left: 0;
	z-index: 2;

	.btn_close_modal {
		position: absolute;
		z-index: 3;
		top: 16px;
		right: 16px;
	}

	h4 {
		font-family: $montserratBold;
		@include font-size(14px);
    	@include line-height(30px);
    	color: $lightBlue;
    	margin-bottom: 10px;
	}

	ul {
		@include size(100%, auto);
		list-style-type: disc;
		padding-left: 26px;

		li {
			@include font-size(14px);
	    	@include line-height(20px);
		}
	}
}