// =============================================================================
// - RoomingContainer
// =============================================================================
.rooming {
	@include size(100%, auto);
	padding: 8px 0;
	color: $darkGray;

	h1 {
		font-family: $montserratBold;
		@include font-size(18px);
		@include line-height(24px);
		text-align: center;
		margin-bottom: 30px;
	}

	h3 {
		font-family: $montserratBold;
		@include font-size(18px);
		@include line-height(24px);
		margin-bottom: 12px;
	}

	p {
		font-family: $montserratRegular;
		@include font-size(18px);
		@include line-height(24px);
		text-align: center;
		margin-bottom: 30px;
	}

	.btn_tips {
		margin-bottom: 25px;
	}

	&_container {
		position: relative;
	}

	// =============================================================================
	// - Responsive
	// =============================================================================
	@media #{$breakpoint-smartphone-big} {
		padding: 16px;
	}

	@media #{$breakpoint-tablet-port} {

		&_container {
			@include size(100%, auto);
			max-width: $secure-area;
			margin: 0 auto;
		}

		h1 {
			@include font-size(26px);
			@include line-height(48px);
		}

		p {
			margin-bottom: 35px;

			&.long-text {
				@include font-size(14px);
				@include line-height(20px);
				margin-bottom: 45px;
			}
		}
	}

	@media #{$breakpoint-tablet-land} {
		&_container {
			padding-top: 0px;
		}

		.btn_tips {
			position: absolute;
			top: 0px;
			right: 0px;
			margin-bottom: 0px;
		}
		h1 {
			@include font-size(26px);
			@include line-height(48px);
		}
		p {
			@include font-size(14px);
			@include line-height(19px);
		}
	}

	@media #{$breakpoint-laptop-small} {
		&_container {
			padding: 0px;
		}
	}
}

// =============================================================================
// - ROOM LIST
// =============================================================================
.room_list {
	@include size(100%, auto);
	border-bottom: 1px dashed $lightGray2;
	overflow: hidden;
	padding-bottom: 20px;

	@media #{$breakpoint-only-tablet-port} {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
	}

	@media #{$breakpoint-tablet-land} {
		overflow: visible;
		padding-bottom: 60px;
	}
}

.room_list_item {
	@include size(100%, auto);
	//overflow: hidden;
	margin-bottom: 30px;
	position: relative;

	header {
		text-align: center;
		overflow: hidden;
		padding: 20px 0;

		h2 {
			font-family: $montserratBold;
			@include font-size(18px);
			@include line-height(24px);
		}

		p {
			font-family: $montserratBold;
			@include font-size(18px);
			@include line-height(24px);
			margin-bottom: 0;
		}

		.open_modal {
			display: none;
		}

		hr {
			@include size(100%, auto);
			border: 0;
			border-top: 1px solid $lightBlue;
			margin: 20px 0px;
		}
	}

	@media #{$breakpoint-tablet-port} {
		@include size(235px, auto);
		margin: auto;
		margin-bottom: 30px;

		header {
			h2 {
				@include font-size(16px);
				margin-bottom: 8px;
			}
			.open_modal {
				font-family: $montserratBold;
				@include font-size(13px);
				@include line-height(17px);
				text-decoration: none;
				color: $lightBlue;
				display: inline-block;
				vertical-align: middle;
			}

			p {
				@include font-size(16px);
			}
		}
	}

	@media #{$breakpoint-tablet-land} {
		margin: auto 10px;
	}

	@media #{$breakpoint-laptop-small} {
		.amount_information {
			padding: 16px 0px;
		}
	}

	&.active {
		.gallery {
			border: 6px solid $lightBlue2;
		}
	}
}

.accordion {
	@include size(100%, auto);
	background-color: $white;
	overflow: hidden;
	display: none;
	//
	position: absolute;
	z-index: 10;
	top: 83%;
	left: 0;
	right: 0;

	&.visible {
		display: block;
		@include fade-in(100ms);
	}

	p {
		@include font-size(14px);
		@include line-height(18px);
		text-align: left;
		margin: 30px 0;
	}

	h4 {
		font-family: $montserratRegular;
		@include font-size(18px);
		@include line-height(18px);
		text-align: center;
		margin-bottom: 16px;
	}

	.amenities_list {
		@include size(100%, auto);
		display: block;
		padding: 10px 20px;
		border-top: 1px solid $lightBlue;

		li {
			@include size(100%, auto);
			margin: 14px 0;
			//
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;

			.ic {
				margin: auto;
			}
		}
	}
}

.gallery {
	@include size(100%, auto);
	overflow: hidden;
	margin: 0 auto 16px;

	figure {
		@include size(100%, auto);
		overflow: hidden;
	}

	img {
		@include size(100%, auto);
		display: block;
	}

	.slick-arrow {
		@include size(22px, 43px);
		top: 43%;

		&.slick-prev {
			background: url(../images/icons/ic_prev_white.svg) center center no-repeat;
			background-size: cover;
			left: 8px;
		}
		&.slick-next {
			background: url(../images/icons/ic_next_white.svg) center center no-repeat;
			background-size: cover;
			right: 8px;
		}
	}

	@media #{$breakpoint-tablet-land} {
		img {
			max-width: 300px;
		}
	}
}

.slick-arrow {
	@include size(28px, 54px);
	border: none;
	text-indent: 9999px;
	// position
	position: absolute;
	top: 45%;
	z-index: 2;

	&.slick-prev {
		background: url(../images/icons/ic_prev.svg) center center no-repeat;
		background-size: cover;
		left: -24px;
	}
	&.slick-next {
		background: url(../images/icons/ic_next.svg) center center no-repeat;
		background-size: cover;
		right: -24px;
	}

	@media #{$breakpoint-laptop-small} {
		&.slick-prev {
			left: -42px;
		}
		&.slick-next {
			right: -42px;
		}
	}
}

// =============================================================================
// - ROOM MODAL
// =============================================================================
.rooming_modal {
	@include size(100%, auto);
	max-width: $secure-area-laptop;
	border: 1px solid $lightBlue;
	background-color: $white;
	overflow: hidden;
	padding: 16px;
	margin: 0 auto;
	
	// postion
	position: absolute;
	top: 150px;
	right: 0;
	bottom: auto;
	left: 0;
	z-index: 20;

	//flex
	display: none;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	justify-content: space-between;


	&.visible {
		display: flex;
		@include fade-in(100ms);
	}

	@media #{$breakpoint-laptop-small} {
		max-width: $secure-area;
	}

	.btn_close_modal {
		position: absolute;
		right: 16px;
	}
}

.room_item {
	@include size(50%, auto);
	overflow: hidden;
	padding: 10px 14px;

	&.info {
		padding: 10px 30px;
	}

	.gallery {
		margin-bottom: 30px;
		img {
			max-width: 450px;
		}
	}

	h3 {
		font-family: $montserratBold;
		@include font-size(18px);
		@include line-height(44px);
	}

	h4 {
		font-family: $montserratRegular;
		@include font-size(16px);
		@include line-height(20px);
		margin-bottom: 10px;
	}

	p {
		font-family: $montserratRegular;
		text-align: left;
		@include font-size(14px);
		@include line-height(18px);
	}

	em {
		font-family: $montserratSemiBold;
		@include font-size(24px);
		@include line-height(32px);
		text-align: center;
		display: block;
	}

	.btn_book {
		display: block;
		max-width: 240px;
		margin: 30px auto;
	}

	.amenities_container {
		@include size(100%, auto);
		text-align: center;
	}

	.amenities_list {
		@include size(100%, auto);
		display: block;
		padding: 10px 20px;
		border-top: 1px solid $lightBlue;

		li {
			@include size(100%, auto);
			margin: 14px 0;
			//
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;

			.ic {
				margin: auto;
			}
		}
	}

	@media #{$breakpoint-laptop-small} {
		.gallery {
			img {
				max-width: 499px;
			}
		}
	}
}

// =============================================================================
// - VACATION PACKAGE
// =============================================================================
.vacation-package {
	.room_list {
		border-bottom: none;
	}
	.room_list_item {
		header {
			h2 {
				@include font-size(16px);
				@include line-height(44px);
				color: $darkGray;
			}
			.open_modal {
				font-family: $montserratBold;
				@include font-size(16px);
				@include line-height(17px);
				text-decoration: none;
				color: $lightBlue;
				display: inline-block;
				vertical-align: middle;
			}	
		}
		.modal {
			top: 93px;
		}
		.amount_information {
			padding: 16px 0;
			p {
				font-family: $montserratBold;
				@include font-size(18px);
				@include line-height(22px);
				color: $lightBlue2;
			}
		}

	}
}