// =============================================================================
// - RoomingContainer
// =============================================================================
.rooming {
	@include size(100%, auto);
	padding: 8px 0;
	color: $darkGray;

	h1 {
		font-family: $montserratBold;
		@include font-size(18px);
		@include line-height(24px);
		text-align: center;
		margin-bottom: 30px;
	}

	p {
		font-family: $montserratRegular;
		@include font-size(18px);
		@include line-height(24px);
		text-align: center;
		margin-bottom: 30px;
	}

	// =============================================================================
	// - Responsive
	// =============================================================================
	@media #{$breakpoint-smartphone-big} {
		padding: 16px;
	}

	@media #{$breakpoint-tablet-port} {

		&_container {
			@include size(100%, auto);
			max-width: $secure-area;
			margin: 0 auto;
		}

		h1 {
			@include font-size(26px);
			@include line-height(48px);
		}

		p {
			margin-bottom: 35px;

			&.long-text {
				@include font-size(14px);
				@include line-height(20px);
				margin-bottom: 45px;
			}
		}
	}

	@media #{$breakpoint-laptop-small} {
		&_container {
			padding: 0 65px;
		}
	}
}

// =============================================================================
// - ROOM LIST
// =============================================================================
.room_list {
	@include size(100%, auto);
	overflow: hidden;
}

.room_list_item {
	@include size(100%, auto);
	overflow: hidden;
	margin-bottom: 30px;

	header {
		text-align: center;
		overflow: hidden;
		padding: 20px 0;

		h2 {
			font-family: $montserratBold;
			@include font-size(18px);
			@include line-height(24px);
		}

		p {
			font-family: $montserratBold;
			@include font-size(18px);
			@include line-height(24px);
			margin-bottom: 0;
		}

		hr {
			@include size(100%, auto);
			border: 0;
			border-top: 1px solid $lightBlue;
			margin: 20px 0px;
		}
	}
}

.gallery {
	@include size(100%, auto);
	overflow: hidden;
	margin: 0 auto 16px;

	figure {
		@include size(100%, auto);
		overflow: hidden;
	}

	img {
		@include size(100%, auto);
		display: block;
	}
}

.slick-arrow {
	@include size(22px, 43px);
	border: none;
	text-indent: 9999px;
	// position
	position: absolute;
	top: 43%;
	z-index: 2;

	&.slick-prev {
		background: url(../images/icons/ic_prev_white.svg) center center no-repeat;
		background-size: cover;
		left: 8px;
	}
	&.slick-next {
		background: url(../images/icons/ic_next_white.svg) center center no-repeat;
		background-size: cover;
		right: 8px;
	}
}


