// =============================================================================
// - WelcomeContainer
// =============================================================================
.welcome {
	@include size(100%, auto);
	padding: 8px 0;
	color: $darkGray;

	h1 {
		font-family: $montserratBold;
		@include font-size(18px);
		@include line-height(24px);
		text-align: center;
		margin-bottom: 30px;
	}

	p {
		font-family: $montserratRegular;
		@include font-size(18px);
		@include line-height(24px);
		text-align: center;
		margin-bottom: 30px;
	}

	figure {
		@include size(100%, auto);
		overflow: hidden;
	}

	img {
		@include size(100%, auto);
		display: block;
	}

	// =============================================================================
	// - Responsive
	// =============================================================================
	@media #{$breakpoint-smartphone-big} {
		padding: 16px;
	}

	@media #{$breakpoint-tablet-port} {

		&_container {
			@include size(100%, auto);
			max-width: $secure-area;
			margin: 0 auto;
		}

		h1 {
			@include font-size(26px);
			@include line-height(48px);
		}

		p {
			margin-bottom: 35px;

			&.long-text {
				@include font-size(14px);
				@include line-height(20px);
				margin-bottom: 45px;
			}
		}
	}

	@media #{$breakpoint-laptop-small} {
		&_container {
			padding: 0 65px;
		}
	}
}

// =============================================================================
// - steps
// =============================================================================
.steps {
	display: none;

	@media #{$breakpoint-tablet-land} {
		@include size(100%, auto);
		max-width: $secure-area;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	ol {
		@include size(100%, auto);
		margin: auto;

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
	}

	li {
		@include size(auto, 32px);
		padding: 4px 22px;
		overflow: hidden;
		margin: auto;
		border: 1px solid $lightBlue;
		border-top: none;
		border-right: none;

		&:last-child {
			border-right: 1px solid $lightBlue;
		}
	}

	a {
		font-family: $montserratBold;
		@include font-size(14px);
		@include line-height(16px);
		text-decoration: none;
		color: $darkGray;
		display: block;

		&.active {
			color: $lightBlue;
		}
	}


	@media #{$breakpoint-laptop-small} {
		li {
			padding: 4px 17px;
		}

		a {
			@include font-size(16px);
		}
	}
}