// =============================================================================
// - forms elements
// =============================================================================
input {
	@include size(100%, 44px);
	border: 1px solid $gray;
	@include border-radius(0px);
	background-color: $white;
	appearance: none;
	padding: 0 8px;
	// texts
	font-family: $montserratRegular;
	@include font-size(20px);
	@include line-height(44px);
	text-align: center;
	color: $gray;
}

input[type=checkbox] {
	@include size(15px, 15px);
	appearance: checkbox;
}

textarea {
	@include size(100%, auto);
	min-height: 120px;
	border: 1px solid $gray;
	@include border-radius(0px);
	background-color: $white;
	appearance: none;
	padding: 0 8px;
	// texts
	font-family: $montserratRegular;
	@include font-size(20px);
	@include line-height(44px);
	text-align: left;
	color: $gray;
}

label {
	// texts
	font-family: $montserratRegular;
	@include font-size(14px);
	@include line-height(20px);
	color: $gray;

	em {
		font-family: $montserratBold;
	}

	a {
		font-family: $montserratBold;
		color: $lightBlue;
	}
}

.select_container {
	@include size(100%, 44px);
	border: 1px solid $gray;
	@include border-radius(0px);
	background-color: $white;
	padding: 0 8px;
	position: relative;

	&:after {
		content: '';
		@include size(0, 0);
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 9px solid $gray;
		display: inline-block;
		// postion
		position: absolute;
		top: 18px;
		right: 5px;
	}

	select {
		@include size(100%, 100%);
		border: none;
		@include border-radius(0px);
		background-color: $white;
		appearance: none;
		// texts
		font-family: $montserratRegular;
		@include font-size(20px);
		@include line-height(44px);
		text-align: center;
		color: $gray;
	}

	option {
		font-family: $montserratRegular;
		@include font-size(20px);
		@include line-height(44px);
		text-align: center;
		color: $gray;
	}
}

form {
	@include size(100%, auto);
	overflow: hidden;
	margin: 0 auto 20px;

    @media #{$breakpoint-tablet-land} {
		padding: 0 36px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}
}

.form_control {
	@include size(100%, auto);
	margin: 0 auto 19px;

	// reset placeHolder color
	@include placeholder($gray);

	&.flex {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
	}

	@media #{$breakpoint-tablet-land} {
		margin: 0 10px 19px;
		&.select_control {
			max-width: 130px;
		}

		.btn_primary {
			height: 44px;
			@include line-height(44px);
		}
	}
}

.date_divider {
	@media #{$breakpoint-tablet-land} {
		margin: auto 8px;
	}
}

.date_control {
	@include size(45%, auto);

	@media #{$breakpoint-tablet-land} {
		@include size(246px, auto);
	}
}
