// =============================================================================
// ICONS
// =============================================================================
.ic {
	display: inline-block;

	&_logo_believe {
		background: url(../images/icons/ic_believe.svg) center center no-repeat;
		background-size: cover;
		@include size(145px, 48px);
	}

	&_arrow_right {
		background: url(../images/icons/right_arrow.svg) center center no-repeat;
		background-size: cover;
		@include size(27px, 20px);
	}

	//
	&_arrow_navigation_back {
		background: url(../images/icons/left_arrow_white.svg) center center no-repeat;
		background-size: cover;
		@include size(37px, 26px);
	}

	&_arrow_navigation_next {
		background: url(../images/icons/right_arrow_white.svg) center center no-repeat;
		background-size: cover;
		@include size(37px, 26px);
	}

	&_transfer {
		background: url(../images/icons/ic_transfer.svg) center center no-repeat;
		background-size: cover;
		@include size(19px, 15px);
	}

	&_tips {
		background: url(../images/icons/ic_tips.svg) center center no-repeat;
		background-size: cover;
		@include size(43px, 51px);
	}

	// Social
	&_twitter {
		background: url(../images/icons/social/ic_twitter.svg) center center no-repeat;
		background-size: cover;
		@include size(18px, 18px);
	}

	&_facebook {
		background: url(../images/icons/social/ic_facebook.svg) center center no-repeat;
		background-size: cover;
		@include size(18px, 18px);
	}

	&_instagram {
		background: url(../images/icons/social/ic_instagram.svg) center center no-repeat;
		background-size: cover;
		@include size(18px, 18px);
	}
}
