// =============================================================================
// ICONS
// =============================================================================
.ic {
	display: inline-block;

	&_logo_believe {
		background: url(../images/icons/ic_believe.svg) center center no-repeat;
		//background-size: cover;
		@include size(145px, 48px);
	}

	&_arrow_right {
		background: url(../images/icons/right_arrow.svg) center center no-repeat;
		background-size: cover;
		@include size(27px, 20px);
	}

	//
	&_arrow_navigation_back {
		background: url(../images/icons/left_arrow_white.svg) center center no-repeat;
		background-size: cover;
		@include size(37px, 26px);
	}

	&_arrow_navigation_next {
		background: url(../images/icons/right_arrow_white.svg) center center no-repeat;
		background-size: cover;
		@include size(37px, 26px);
	}

	&_transfer {
		background: url(../images/icons/ic_transfer.svg) center center no-repeat;
		background-size: cover;
		@include size(19px, 15px);
	}

	&_tips {
		background: url(../images/icons/ic_tips.svg) center center no-repeat;
		background-size: cover;
		@include size(43px, 51px);
	}

	// Social
	&_twitter {
		background: url(../images/icons/social/ic_twitter.svg) center center no-repeat;
		background-size: cover;
		@include size(18px, 18px);
	}

	&_facebook {
		background: url(../images/icons/social/ic_facebook.svg) center center no-repeat;
		background-size: cover;
		@include size(18px, 18px);
	}

	&_instagram {
		background: url(../images/icons/social/ic_instagram.svg) center center no-repeat;
		background-size: cover;
		@include size(18px, 18px);
	}

	&_tripadvisor {
		background: url(../images/icons/social/ic_tripadvisor.png) center center no-repeat;
		@include size(120px, 65px);
	}

	// amenities
	&_air_conditioner {
		background: url(../images/icons/services/air-conditioner.svg) center center no-repeat;
		background-size: cover;
		@include size(32px, 37px);
	}

	&_pool {
		background: url(../images/icons/services/swimming-pool.svg) center center no-repeat;
		background-size: cover;
		@include size(42px, 35px);
	}

	&_wifi {
		background: url(../images/icons/services/wifi.svg) center center no-repeat;
		background-size: cover;
		@include size(47px, 34px);
	}

	&_dishwasher {
		background: url(../images/icons/services/dishwasher.svg) center center no-repeat;
		background-size: cover;
		@include size(32px, 37px);
	}

	&_tv {
		background: url(../images/icons/services/tv.svg) center center no-repeat;
		background-size: cover;
		@include size(37px, 37px);
	}

	&_parking {
		background: url(../images/icons/services/parking.svg) center center no-repeat;
		background-size: cover;
		@include size(31px, 31px);
	}

}
